# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Next.js
.next/
out/
build/
*.tsbuildinfo

# Expo
.expo/
.expo-shared/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local
